

.row{
    padding: 1em;
}
.container{
    background-color: #F1F1F1;
    font-family: "Gill Sans", sans-serif;
/*    background-image: url("https://image.shutterstock.com/z/stock-photo-old-woman-with-pistol-on-a-white-background-182174168.jpg") ;
    background-repeat: no-repeat;
    background-repeat: round;*/
}

#creation{
    margin: 1em;
}

.table-wrapper{
    max-height: 300px;
    overflow: auto;
    display:inline-block;
}

#submit{
    margin-left: 50px;
}

#condition{
    margin-top: 10px;
}

#title{
    padding-top: 50px;
    padding-bottom: 20px;
}

#link{
    text-decoration: none;
    color: white;
}

#image{
    border-radius: 500px;
    margin-left: 10px;
}

#profil{
    background-color: white;
    border-radius: 15px;
}

#bigText{
    font-size: 120%;
}

textarea{
    resize: none;
}

#color{
    background-color: gray;
    color: white;
    margin: 10px;
}

#decale{
    padding-left: 50px;
}

#noUnderline{
    text-decoration: none;
}

#margin{
    margin: 10px;
}