{% extends 'base.html.twig' %}

{% block title %}Gestion des sites{% endblock %}

{% block contenu %}
    <div class="text-center">
        <h1>On est dans la gestion des sites! ✅</h1>
    </div>
{% endblock %}