{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block contenu %}
    <div class="text-center">
        <h1>On est dans la gestion des villes! ✅</h1>
    </div>
{% endblock %}