{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block contenu %}
    <h1>La sortie</h1>
    <ul>
        {% for sortie in sorties %}
            <li>{{ sortie.nom }}</li>
        {% endfor %}
    </ul>
{% endblock %}
