<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You died</title>
</head>
<body>
<img src="https://pbs.twimg.com/profile_images/949787136030539782/LnRrYf6e.jpg">
</body>
</html>